In [1]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_data_to_load = os.path.join('..','Resources','schools_complete.csv')
student_data_to_load = os.path.join('..','Resources','students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [2]:
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [4]:
total_budget = school_data_complete['budget'].sum()

total_budget

82932329558

In [5]:
avg_math = school_data_complete['math_score'].mean()

avg_math

78.98537145774827

In [6]:
avg_read = school_data_complete['reading_score'].mean()

avg_read

81.87784018381414

In [7]:
math_pass_ct = school_data_complete[(school_data_complete['math_score'] >= 70)].count()["student_name"]
math_pass_perc = math_pass_ct / student_count * 100

math_pass_perc

74.9808526933878

In [8]:
read_pass_ct = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()["student_name"]
read_pass_perc = read_pass_ct / float(student_count) * 100

read_pass_perc

85.80546336482001

In [9]:
overall_pass_ct = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_pass_perc = overall_pass_ct / student_count * 100

overall_pass_perc

65.17232575950983

In [10]:
student_count = '{:,}'.format(student_count)
total_budget = "${:,}".format(total_budget)
avg_math = "{:.2f}".format(avg_math)
avg_read = "{:.2f}".format(avg_read)
math_pass_perc = "{:.2f}%".format(math_pass_perc)
read_pass_perc = "{:.2f}%".format(read_pass_perc)
overall_pass_perc = '{:.2f}%'.format(overall_pass_perc)
district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math": [avg_math],
    "Average Reading": [avg_read],
    "Math Passing Percent": [math_pass_perc],
    "Reading Passing Percent": [read_pass_perc],
    "Overall Passing Percent": [overall_pass_perc]
})
district_summary

,Total Schools,Total Students,Total Budget,Average Math,Average Reading,Math Passing Percent,Reading Passing Percent,Overall Passing Percent
0,15,"39,170","$82,932,329,558",78.99,81.88,74.98%,85.81%,65.17%

In [11]:
#-------------------------------------------------------------------------------------------------------------------

In [12]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

In [13]:
school_type = school_data.groupby("school_name")["type"].sum()

In [14]:
per_school_counts = school_data.groupby("school_name")["size"].sum()

In [15]:
budget_by_school = school_data.groupby("school_name")["budget"].sum()
budget_by_school_percapita = budget_by_school / per_school_counts

In [16]:
avg_math_per_school = school_data_complete.groupby("school_name")["math_score"].mean()
avg_read_per_school = school_data_complete.groupby("school_name")["reading_score"].mean()

In [17]:
math_passing = (school_data_complete["math_score"] >= 70)
math_passing_perschool = school_data_complete[math_passing].groupby("school_name").size()
math_pass_perc_byschool = math_passing_perschool / per_school_counts *100

In [18]:
read_passing = (school_data_complete["reading_score"] >= 70)
read_passing_perschool = school_data_complete[read_passing].groupby("school_name").size()
read_pass_perc_byschool = read_passing_perschool / per_school_counts *100

In [19]:
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
overall_pass = school_students_passing_math_and_reading / per_school_counts *100

In [20]:
per_school_summary = pd.DataFrame({
    "School Type" : school_type,
    "Student Population" : per_school_counts,
    "Total School Budget" : budget_by_school,
    "Per Student Budget" : budget_by_school_percapita,
    "Average Math Score" : avg_math_per_school,
    "Average Reading Score" : avg_read_per_school,
    "Math Passing Rate" : math_pass_perc_byschool,
    "Reading Passing Rate" : read_pass_perc_byschool,
    "Overall Passing Rate" : overall_pass})

per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary

,School Type,Student Population,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [21]:
df1 = pd.DataFrame({
    
    "Overall passing%" : overall_pass})
topschools = df1.sort_values(by = "Overall passing%", ascending = False)
topschools.head(5)

                     Overall passing%
school_name
Cabrera High School         91.334769
Thomas High School          90.948012
Griffin High School         90.599455
Wilson High School          90.582567
Pena High School            90.540541

In [22]:
df2 = pd.DataFrame({
    "Overall passing%" : overall_pass})
topschools = df2.sort_values(by = "Overall passing%", ascending = True)
topschools.head(5)

                       Overall passing%
school_name
Rodriguez High School         52.988247
Figueroa High School          53.204476
Huang High School             53.513884
Hernandez High School         53.527508
Johnson High School           53.539172

In [23]:
#-------------------------------------------------------------------------------------------------------------------

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[school_data_complete["grade"] == "9th"]
tenth_graders = school_data_complete[school_data_complete["grade"] == "10th"]
eleventh_graders = school_data_complete[school_data_complete["grade"] == "11th"]
twelfth_graders = school_data_complete[school_data_complete["grade"] == "12th"]

# Group by `school_name` and take the mean of the `math_score` column for each grade level
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grade_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grade_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grade_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grade_math_scores,
    "11th": eleventh_grade_math_scores,
    "12th": twelfth_grade_math_scores
})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [25]:
# Group by `school_name` and take the mean of the `math_score` column for each grade level
ninth_grade_read_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grade_read_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grade_read_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grade_read_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into a single DataFrame called `math_scores_by_grade`
read_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_read_scores,
    "10th": tenth_grade_read_scores,
    "11th": eleventh_grade_read_scores,
    "12th": twelfth_grade_read_scores
})

# Minor data wrangling
read_scores_by_grade.index.name = None

# Display the DataFrame
read_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [26]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
school_spending_df = per_school_summary.copy()
school_spending_df

,School Type,Student Population,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [28]:
# Assuming the column contains strings with '$' and ',' characters
# Remove '$' and ',' characters and convert to numeric
school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].str.replace(',', '').str.replace('$', '').astype(float)

# Now, use pd.cut to categorize spending based on the bins
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], bins=spending_bins, labels=labels)
school_spending_df

,School Type,Student Population,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [29]:
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Math Passing Rate"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Reading Passing Rate"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate"].mean()

/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/936073222.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/936073222.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/936073222.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Math Passing Rate"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/936073222.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Reading Passing Rate"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/936073222.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate"].mean()

In [30]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

In [31]:
#-------------------------------------------------------------------------------------------------------------------

In [32]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [33]:
per_school_summary["School Size"] = pd.cut(school_spending_df["Student Population"], bins=size_bins, labels=labels)
per_school_summary

,School Type,Student Population,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [34]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Math Passing Rate"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Reading Passing Rate"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Overall Passing Rate"].mean()

/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/3376234912.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/3376234912.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/3376234912.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary.groupby(["School Size"])["Math Passing Rate"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/3376234912.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary.groupby(["School Size"])["Reading Passing Rate"].mean()
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/3376234912.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary.groupby(["School Size"])["Overall Passing Rate"].mean()

In [35]:
# Use the scores to create a new DataFrame called size_summary
size_summary = pd.DataFrame({
    "Average Math Score": per_school_summary.groupby("School Size")["Average Math Score"].mean(),
    "Average Reading Score": per_school_summary.groupby("School Size")["Average Reading Score"].mean(),
    "Math Passing Rate": per_school_summary.groupby("School Size")["Math Passing Rate"].mean(),
    "Reading Passing Rate": per_school_summary.groupby("School Size")["Reading Passing Rate"].mean(),
    "Overall Passing Rate": per_school_summary.groupby("School Size")["Overall Passing Rate"].mean()
})

# Display results
size_summary

/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/2968437072.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Math Score": per_school_summary.groupby("School Size")["Average Math Score"].mean(),
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/2968437072.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Average Reading Score": per_school_summary.groupby("School Size")["Average Reading Score"].mean(),
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/2968437072.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Math Passing Rate": per_school_summary.groupby("School Size")["Math Passing Rate"].mean(),
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/2968437072.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Reading Passing Rate": per_school_summary.groupby("School Size")["Reading Passing Rate"].mean(),
/var/folders/t1/m31xbjfs0qs62l508cf4hcv40000gn/T/ipykernel_8223/2968437072.py:7: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  "Overall Passing Rate": per_school_summary.groupby("School Size")["Overall Passing Rate"].mean()

,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [36]:
#-------------------------------------------------------------------------------------------------------------------

In [37]:
# Calculate mean scores and passing rates by school type
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_math_passing_rate_by_type = per_school_summary.groupby(["School Type"])["Math Passing Rate"].mean()
average_reading_passing_rate_by_type = per_school_summary.groupby(["School Type"])["Reading Passing Rate"].mean()
average_overall_passing_rate_by_type = per_school_summary.groupby(["School Type"])["Overall Passing Rate"].mean()

In [38]:
# Create the type_summary DataFrame
type_summary = pd.DataFrame({
    "Average Math Score": average_math_score_by_type,
    "Average Reading Score": average_reading_score_by_type,
    "Math Passing Rate": average_math_passing_rate_by_type,
    "Reading Passing Rate": average_reading_passing_rate_by_type,
    "Overall Passing Rate": average_overall_passing_rate_by_type
})

# Display the type_summary DataFrame
type_summary

,Average Math Score,Average Reading Score,Math Passing Rate,Reading Passing Rate,Overall Passing Rate
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208