In [34]:
# Dependencies and Setup
import pandas as pd
import os

# File to Load (Remember to Change These)
school_data_to_load = os.path.join('..','Resources','schools_complete.csv')
student_data_to_load = os.path.join('..','Resources','students_complete.csv')

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

In [5]:
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [38]:
student_count = school_data_complete['Student ID'].nunique()
student_count = '{:,}'.format(student_count)
student_count

'39,170'

In [10]:
total_budget = school_data_complete['budget'].sum()
total_budget = "${:,}".format(total_budget)
total_budget

'$82,932,329,558'

In [21]:
avg_math = school_data_complete['math_score'].mean()
avg_math = "{:.2f}".format(avg_math)
avg_math

'78.99'

In [20]:
avg_read = school_data_complete['reading_score'].mean()
avg_read = '{:.2f}'.format(avg_read)
avg_read

'81.88'

In [29]:
math_pass_ct = school_data_complete[(school_data_complete['math_score'] >= 70)].count()["student_name"]
math_pass_perc = math_pass_ct / float(student_count) * 100
math_pass_perc = "{:.2f}%".format(math_pass_perc)
math_pass_perc

'74.98%'

In [30]:
read_pass_ct = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()["student_name"]
read_pass_perc = read_pass_ct / float(student_count) * 100
read_pass_perc = "{:.2f}%".format(read_pass_perc)
read_pass_perc

'85.81%'

In [33]:
overall_pass_ct = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_pass_perc = overall_pass_ct / student_count * 100
overall_pass_perc = '{:.2f}%'.format(overall_pass_perc)
overall_pass_perc

'65.17%'

In [39]:

district_summary = pd.DataFrame({
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math": [avg_math],
    "Average Reading": [avg_read],
    "Math Passing Percent": [math_pass_perc],
    "Reading Passing Percent": [read_pass_perc],
    "Overall Passing Percent": [overall_pass_perc]
})
district_summary

,Total Schools,Total Students,Total Budget,Average Math,Average Reading,Math Passing Percent,Reading Passing Percent,Overall Passing Percent
0,15,"39,170","$82,932,329,558",78.99,81.88,74.98%,85.81%,65.17%

In [40]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]